server {
    listen       ${NGINX_PORT} ssl;
    listen  [::]:${NGINX_PORT} ssl;
    server_name www.gblan.example.jp;

    ssl_certificate     /etc/nginx/keys/certs/www.gblan.example.jp.pem;
    ssl_certificate_key /etc/nginx/keys/private/www.gblan.example.jp.key;

    location / {
        root   /usr/share/nginx/html/www;
        index  index.html index.htm;
    }

    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /usr/share/nginx/html/www;
    }
}
